#profile_pic {
  max-height: 20rem;
}

.onboarding-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.onboarding-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.checkbox-label {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.onboarding-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  border-color: #aaa;
}

input[type="checkbox"]:checked {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -3px;
  width: 30px;
  height: 30px;
  /* border: 2px solid #ccc;
  border-radius: 50%;  */
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.mentorInfoBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: 50vh;
  padding: 3%;
}

.mentorInfo{
  padding: 3%;
}

.mentorname {
  font-size: 24px;
  color: #8246AE;
}

.mentorInfo h6 {
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  display: inline-block;
  padding-right: 0.5rem;
  font-weight: 550;
  
}

.mentorInfo span{
  color: black;
  padding-right: 0.25rem;

}

/* ==============Onboarding======================
=============================================== */


.oboardingManBox{
  padding: 5% 30%;
  

}

.borderOnboarding{
  border: #F9A426 solid 2px;
  background-color: #F5F5F5;
  padding: 10%;
}

select {

  display: inline-block;
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 1;
  font-size: 16px;
  color: #333;
  background-color: white;
  height: 60px;
  text-align: center;

}

select:focus {
  outline-color: #F9A426;
}

#onboarding_checkboxes li{
  list-style: none;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-left: 30%;
  border: none;
  border-radius: 5px;
  padding: 2%;
  font-size: 16px;
  color: #fff;
  background-color: #8246ae;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #f3279a;
  transform: scale(1.1);
  /* width: 20%; */

}
/* .checkbox-label:nth-of-type(1):before {
  content: '1';
}

.checkbox-label:nth-of-type(2):before {
  content: '2';
}

.checkbox-label:nth-of-type(3):before {
  content: '3';
}

.checkbox-label:nth-of-type(4):before {
  content: '4';
}

.checkbox-label:nth-of-type(5):before {
  content: '5';
}

.checkbox-label:nth-of-type(6):before {
  content: '6';
} */

/* .mentors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .mentorProfile_card {
  margin: 10px;
}  */