#profile_pic {
  max-height: 20rem;
  border: #F9A426 solid 2px;
}
.mentorInfoBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: 50vh;
  padding: 3%;
  border: #F9A426 solid 2px;
}

.mentorInfo{
  padding: 3%;
  border: blue solid 2px;
}

.mentorname {
  font-size: 24px;
  color: #8246AE;
}

.mentorInfo h6 {
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  display: inline-block;
  padding-right: 0.5rem;
  font-weight: 550;
  
}

.mentorInfo span{
  color: black;
  padding-right: 0.25rem;

}

/* ==============Onboarding======================
=============================================== */


.onboardingManBox{
  padding: 5% 30%;
  width: auto;
  margin-top: 10px;

}

.borderOnboarding{
  border: #F9A426 solid 2px;
  background-color: #F5F5F5;
  padding: 10%;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

select {
  display: block;
  width: 100%;
  border: none;
  border-radius: 90px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  height: 50px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#onboarding_checkboxes li{
  list-style: none;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-left: 30%;
  border: none;
  border-radius: 5px;
  padding: 2%;
  font-size: 16px;
  color: #fff;
  background-color: #8246ae;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #f3279a;
  transform: scale(1.1);
  /* width: 20%; */

}
