* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
}

.mentor-page h1 {
    color: #8246ae;
}

.mentor-form {
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mentor_details {
    margin: 10px;
    width: 46%;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #8246ae;
}

input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f3f3f3;
}

button[type="submit"] {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #8246ae;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #f3279a;
}

#dropdown {
    width: 350px;
    height: 40px;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
    form {
        max-width: 100%;
    }
}