
.main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px;
    width: 100%;
    height: 90px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.main-nav-container img {
    width: 153px;
    height: 30px;
}

.main-nav-container .nav-item {
    font-size: 18px;
    color: #8246AE;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.main-nav-container .nav-login {
    font-size: 18px;
    color: #F16767;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}
.main-nav-container .nav-item:hover {
    color: #F16767;
    border-bottom: 2px solid #F16767;
}

.main-nav-container .nav-login:hover {
    color: #F16767;
    border-bottom: 2px solid #F16767;
}
body {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    width: 100%;
    height: 90px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 768px) {
    .main-nav-container {
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      height: auto;
    }
  
    .main-nav-container img {
      margin-bottom: 10px;
    }
  
    .main-nav-container .nav-item {
      margin: 0 10px;
    }
  
    .nav-tabs {
      padding: 10px;
      height: auto;
    }
  }