.main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    height: 90px;
}

.main-nav-container img {
    width: 153px;
    height: 30px;
}

.main-nav-container .nav-item {
    font-size: 16px;
    color: #8246AE;
    /* font color for tabs */
    text-decoration: none;
    margin-left: 10px;
}

.main-nav-container .nav-item:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}