form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
  
  .checkbox-label {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
   
  }
  
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    
  }