* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
} */

.body {
    background-color: #fff;
    color: #8246ae;
}


 .allMentorPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.allMentorPage img{
    width: 250px;
} 


/* Responsive styles */
@media screen and (max-width: 480px) {
    form {
        max-width: 100%;
    }
}


