* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.change-password-background {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    background-image: url("https://s35764.pcdn.co/wp-content/uploads/2022/06/Women-in-Coding_1200x62801.jpg");
    background-size: cover;
    background-position: center;
}

.cover h1,
.login_label {
    color: white;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.cover {
    background-color: #8246AE;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 5%;
}


input {
    border: none;
    background-color: white;
    height: 4em;
    width: 100%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color: #F9A426;
}

#update-button {
    width: 40%;
    height: 3em;
    background-color: #F9A426;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 2em;
}

#update-button:hover {
    transform: scale(1.1);
}


.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: orange;
    color: white;
    bottom: 0;
    transform: scale(1);
    transform: 1.5s;

}