/* .home-page .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://s35764.pcdn.co/wp-content/uploads/2022/06/Women-in-Coding_1200x62801.jpg");
    background-size: cover;
    background-position: center;
}

.home-page .background-image::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #8246AF;
    background-size: cover;
    background-position: center;
    opacity: calc(25%);
} */

.home-page {
    background-color: #8246AF;
    padding-bottom: 30px;
}

.title h1 {
    font-size: 42px;
    color: #F5F5F5;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* .event-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} */


.events-container .event-card {
    padding: 0 5%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 2%;
    padding: 20px;
    width: 28.99%;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.event-card img {
    max-width: 100%;
}

.event-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.event-card h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.event-card ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.event-card li {
    margin-bottom: 5px;
    font-size: 14px;
}

.searchFilter {
    width: 40%;

}

.searchFilter {
    text-align: center;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    body {
        max-width: 100%;
    }

    .nav-tabs .logo {
        display: none;
    }
}