/* * {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
} */

/* body {
    background-color: #fff;
    color: #8246ae;
} */


 .mentorProfilePage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.mentorProfilePage img{
    width: 250px;
} 

button[type="submit"] {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #8246ae;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #f3279a;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
    form {
        max-width: 100%;
    }
}

.mentorProfilePage {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://s35764.pcdn.co/wp-content/uploads/2022/06/Women-in-Coding_1200x62801.jpg");
    background-size: cover;
    background-position: center;
}

.mentorProfilePage::after {
    position: absolute; 
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #8246AF;
    background-size: cover;
    background-position: center;
    opacity: calc(25%);
}

