* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
}


h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.mentorProfilePage{
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

button[type="submit"] {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #8246ae;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #f3279a;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
    form {
        max-width: 100%;
    }
}